
    <form  action="/create" method="post">
      <input type="text" name="todo" value="" placeholder="Please Enter Task">
      <button type="submit" name="button">Submit</button>
    </form>

    {{#data}}
    {{^completed}}
    <form class="" action="/completed/{{id}}" method="post">
     <button type="submit" name="button">{{todo}}</button>
    </form>
    <form action="/edit/{{id}}" method="post">
        <input type="text" name="edit" placeholder="edit">
        <button type="submit" name="button"> edit todo</button>
    </form>
    {{/completed}}

    {{#completed}}
      <del><p>{{todo}}<p></del>
        <form class="" action="/destroy/{{id}}" method="post">
          <button type="submit" name="button">delete</button>
        </form>
    {{/completed}}
    {{/data}}
